{% extends "header.html" %}

{% block content %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Django Forum Users</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">If you look for specific user use a browser.</p>
      </div>
      
      <div class="flex flex-wrap">

            {% for user in all_users %}
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-60 h-60 object-cover object-center sm:mb-4 mb-4" src="https://dummyimage.com/200x200">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900 mr-4">{{user.username}}</h2>
              {% if user.short_about_me != none%}
                <h3 class="text-gray-500 mb-1">{{user.short_about_me}}</h3>
                <h3 class="text-gray-500 mb-1 mr-4">{{user.email}}</h3>
                <h1 class="text-gray-400 mb-0.1 mr-4">Questions: {{user.number_of_questions}}</h1>
                <h1 class="text-gray-400 mb-0.1 mr-4">Answers: {{user.number_of_answers}}</h1>
                <span class="flex flex-col">
                    <a href="{% url 'forum:send_friend_request' user.id %}" class="inline-block p-[2px] rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
                        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-sm hover:bg-transparent">
                        Invite to friends
                        </span>
                    </a>
                    <a class="inline-block p-[2px] rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
                        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-full hover:bg-transparent">
                        Message
                        </span>
                    </a>
                </span>
              {% else %}
                <h3 class="text-gray-500 mb-1 mr-4 mt-7">{{user.email}}</h3>
                <h1 class="text-gray-400 mb-0.1 mr-4">Questions: {{user.number_of_questions}}</h1>
                <h1 class="text-gray-400 mb-0.1 mr-4">Answers: {{user.number_of_answers}}</h1>
                <span class="flex flex-col">
                    <a href="{% url 'forum:send_friend_request' user.id %}" class="inline-block p-[2px] rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
                        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-sm hover:bg-transparent">
                        Invite to friends
                        </span>
                    </a>
                    <a class="inline-block p-[2px] rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
                        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-full hover:bg-transparent">
                        Message
                        </span>
                    </a>
                </span>
                {% endif %}
              </div>
            </div> 
            
            {% endfor %}
    </div>
  </section>

{% endblock content %}