{% extends "header.html" %}

{% block content %}

<div class="p-16">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
        <div>
          <p class="font-bold text-gray-700 text-xl">{{user_information.friends.count}}</p>
          <p class="text-gray-400">Friends</p>
        </div>
        <div>
             <p class="font-bold text-gray-700 text-xl">{{user_information.number_of_questions}}</p>
          <p class="text-gray-400">Questions asked</p>
        </div>
            <div>
             <p class="font-bold text-gray-700 text-xl">{{user_information.number_of_answers}}</p>
          <p class="text-gray-400">Answers</p>
        </div>
      </div>
      <div class="relative">
        <div class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
  </svg>
        </div>
      </div>
      {% if request.user.username != user_information.username %}
      <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
        <a href="{% url 'forum:send_friend_request' user_information.id %}" class="inline-block p-[2px] rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
          <span class="block px-8 py-3 text-sm font-medium bg-white rounded-sm hover:bg-transparent">
            Invite to friends
          </span>
        </a>
      <a class="inline-block p-[2px] rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-full hover:bg-transparent">
        Message
        </span>
    </a>
      {% else %}
      <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
      <a class="inline-block p-[2px] rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring mb-1 mr-1">
        <span class="block px-8 py-3 text-sm font-medium bg-white rounded-sm hover:bg-transparent">
        Edit your account
        </span>
      </a>
      {% endif %}
      </div>
    </div>
  
    <div class="mt-20 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">{{user_information.username}} <span class="font-light text-gray-500">27</span></h1>
      <p class="font-light text-gray-600 mt-3">{{user_information.email}}</p>
  
      <p class="mt-8 text-gray-500">{{user_information.short_about_me}}</p>
    </div>
  
    <div class="mt-12 flex flex-col justify-center">
      {% if user_information.description == None %}
      <p class="text-gray-600 text-center font-light lg:px-16">No description</p>
      {% else %}
      <p class="text-gray-600 text-center font-light lg:px-16">{{user_information.description}}</p>
      {% endif %}
      <button
    class="text-indigo-500 py-2 px-4  font-medium mt-4"
  >
    Show more
  </button>
    </div>
  
  </div>
  </div>
{% endblock content %}